*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgba(54, 33, 33, 0.425);
    width:100%;
}
.left_top{
    background-color: rgba(250, 235, 215, 0.788);
    margin: 50px;
    border: 1px solid white;
    border-radius: 5px ;
    display:flex;
    text-align: center;
    justify-content: space-between;
    width:auto;

}
h1{
    background-color: rgba(54, 33, 33, 0.425);
    font-size: 32px;
    font-weight: 600px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
    padding-top: 10px;

}

ul{
    display: flex;
    list-style-type: none;

}
li{
    margin:20px;
    padding:10px;
    text-decoration: none;
    background-color:blueviolet;
    border:none;
    border-radius: 10px;
   
a{
    text-decoration: none;
    font-size: 16px;
     color: white;
}
}
a:hover{
    background-color:rgb(217, 209, 224);
    transition: 0.5s;
    cursor: pointer;

}
 button{
    background-color: brown;
    display: inline-block;
    margin: 20px;
    padding:10px;
    justify-content: center;
 }